<!- the explore section here -->
<div class="jumbotron">
  <ul class="nav nav-pills" >
    <li role="presentation" ng-class = "time" ng-click = "changeClass('modify')" value="modify"><a href="#">Modify Time</a></li>
    <li role="presentation" ng-class = "tag" ng-click = "changeClass('tag')" ><a href="#">Tag</a></li>
    <li role="presentation" ng-class = "username" ng-click = "changeClass('username')" ><a href="#">User Name</a></li>
    <li ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
    <li><input type="text" class="form-control"  placeholder="search" ng-model = "userSearch" ng-change = "search()"></li>
    <li><input type="button" name="CSV" value="CSV" ng-show="exportMc.length > 0" ng-click = "downLoadFile()" download="mcfile.csv"></li>
  </ul>
  <div class="media" ng-repeat = "mc in filteredTodos ">
    <div class="media-left">
      <div id="circle" ng-click = "addMcToExport(mc); onSelected = !onSelected" ng-class = "{circleClick: onSelected == true}" ng-init="onSelected = false"><span class="glyphicon glyphicon-ok"></span></div>
    </div>  
    <div class="media-left">
      <div id = "medialeftparent">{{mc.popularity.like}}<div>LIKE</div></div>
    </div>
    <div class="media-left">
      <div id = "medialeft">{{mc.popularity.comment}}<div>COMMENT</div></div>
    </div>
    <div class="media-left">
      <div id = "medialeft">{{mc.popularity.view}}<div>VIEW</div></div>
    </div>        
    <div class="media-body">
      <div id = "mediabody">
        <h4 class="media-heading"><span ><a href = "/mcDetail/{{$index}}" ng-click = "storeMc($index)">{{mc.title}}</a></span></h4>
        <span>Username: {{mc.ownername}}</span>
        <span class ="glyphicon glyphicon-tag"></span>
        <div id = "tag" ng-repeat = "tag in mc.tags">{{tag}}</div>
      </div>
    </div> 
  </div>
</div>
 <ul uib-pagination total-items="mcs.length" ng-model="currentPage" items-per-page = "numPerPage"></ul>
